.container
  .heading
    %h1 Producers List

  .producer-list
    - @users.each do |user|
      .producer-item.well
        = image_tag "#"
        %h4 #{user.username}
        %h4 #{user.email}
        %p This is a short sentence about the user
