.container
  .user-profile
    %h2 #{@user.username}'s Profile Page
    %p Email: #{@user.email}
    %p Twitter

  .songs-table
    %table.table
      %thead
        %tr
          %td Song name
          %td Song length
          %td Song plays
          %td Ranking
      %tbody
        %tr
          %td song.name
          %td 3:50
          %td 120
          %td 50

  = link_to "Sign Out", signout_path, method: :delete
  %br 
  = link_to "Upload a song", new_user_song_path(current_user)
